body {
  font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right,rgb(235, 114, 134),rgb(82, 82, 228));
    background-repeat: no-repeat;
    display: block;
    background-attachment: fixed;
    background-origin: content-box;
    background-size:cover;
}

h1{
  background-color: rgb(83, 83, 149);
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  width:20%;
  text-align: center;
  margin: 5% 30% 8% 40%;
}

#h3{
  display: none;
  color: #3e3838;
}

.done-true {
    text-decoration: line-through;
    color: rgb(224, 30, 30);
  }

  input[type='text']{
    padding: 10px;
    margin:0 5px 0 11%;
    display: flex;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
  }

  input[type='checkbox'] {
    background-color: #2196F3;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    display:inline;
  }

  .button-type{
    /* background-color: #4CAF50; */
    margin-right:10%; 
    display:flex;
    justify-content: right;
  }

 .button{
   padding: 10px;
    background-color: rgb(225, 96, 117);
    border: none;
    color: white;
    margin:0 5px 0 5px;
    font-size: 15px;
    cursor:pointer;
    border-radius: 5px;
    transition:  0.5s ease-in-out; 
  }

  input[type='submit']:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition:  0.3s ease-in-out; 
  }

  input[type='button']:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition:  0.3s ease-in-out; 
}

.remaining{
  display: flex;
  margin: 40px 10% 10px 10px;
  justify-content: end;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.remaining > span{
  border: rgb(216, 65, 90) 1px solid;
  padding: 0 10px 0 10px;
}

  li{
      list-style-type:none;
  }

  li span{
      width: 100px;
  }

  #box{
      width: auto;
      border-radius: 20px;
      margin: 0 10% 10% 10%;
      padding: 5px;
      padding-right: 40px;
      background-color:white ;
      box-shadow: 1px 1px 15px 1px #585656;
      display: flex;
      justify-content:space-between;
      font-size: large;
      transition: 1s ease-out;
}

  #box div{
      width:100%;
      height:fit-content;
}

#box::placeholder{
        content:"There is nothing in todo...";
}

.container{
  display: flex;
    font-size: larger;
}

.container .X{
  justify-content:right;
  margin: 0px 10px 10px 25px;
}

.fa{
  color:rgb(41, 27, 27);
}

.fa:hover{
  color:red;
}

table{
  border: 0.2px rgb(12, 11, 11) solid;
  border-collapse:collapse;
}

.col1{
  width: 100%;
}
.col2{
  padding: 10px;
}