
<!doctype html>

<html ng-app="myApp">
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="module.js"></script>

    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body ng-controller="myCtrl">

    <h1>TODO APP</h1>

    <div class="form-container">

      <form ng-submit="addTodo()">
        
        
        <div class="button-type">
  
            <input type="text" id="search" ng-model="todoText" placeholder="ADD YOUR NEW TASK HERE">
            <input class="button" type="submit" value="ADD">
            <input class="button" type="button" value="CLEAR COMPLETED" ng-click="delete()">
            <input class="button" type="button" value="CLEAR ALL" ng-click="deleteAll()">
          
        </div>

        <div class="remaining">
          <span>{{remaining()}} of {{todos.length}} remaining</span>
        </div>
        
      </form>

      <h3 id="h3">There is nothing in your To do List...</h3>

    <div id="box" >
      
      <div>
        <p id="error"></p>

        <ul ng-repeat="todo in todos">

          <table>
          
            <tr class="row1">

              <td class="col1">
              
                <div class="table">

                  <input type="checkbox" class="checkbox" ng-model="todo.done" checked="checked">
                  <span class="done-{{todo.done}}">{{todo.text}} </span>

                </div> 

              </td>

              <td class="col2">

                <span ng-click="removeItem($index)" class="fa fa-remove"></span>

              </td>

            </tr>

          </table>
        </ul>
      </div>

    </div>

    </div>

  </body>

</html>